/* Fonts */
@font-face {
    font-family: KdamThmorPro;
    src: url("assets/fonts/KdamThmorPro-Regular.ttf");
}
@font-face {
    font-family: Oswald-VariableFont;
    src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
}

/* End Fonts */

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* End animations */

/* Header */
.centerHeader{
    display: flexbox;
    justify-content: center;
    text-align: center;
}

.title{
    font-family: KdamThmorPro;
    font-size: 4.5em;
    animation: fadeIn 2s ease-out;
}

.paragraphTitle{
    text-decoration: double;
    font-family: Oswald-VariableFont;
    font-size: 1.5em;
    animation: fadeIn 2s ease-out;
}
/* ---------------------------------------------------------------- */



/* Body */
.parallax {
    background-image: url(assets/images/background3.jpg);
    min-height: 500px;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ---------------------------------------------------------------- */

/* Navbar */
nav {
    width: 70%;
    display: flex;
    margin: auto;
    border-radius: 20px;
}

.navbar-brand{
    font-family: KdamThmorPro;
}

.logoImage{
    width: 30px;
}

#searchInput{
    max-width:50%;
    display: flex;
    justify-items: center;
}

.nav-link{
    display: flex;
    justify-content: center;
}

a{
    font-family: KdamThmorPro;
}
/* ---------------------------------------------------------------- */


/* Coin Cards */
.coinImages{
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
    width: 190px;
    max-height: fit-content;
    margin: 1%;
    min-height: 280px;
}

.coinCardSize{
    width: 190px;
}

.card-text{
    margin: auto;
    text-align: center;
    font-family: Oswald-VariableFont;
}
.card-title{
    text-align: center;
    font-family: KdamThmorPro;
}
/* ---------------------------------------------------------------- */


#pageHtmlContent{
    justify-content: center;
    align-items: center;
}


.searchNotFoundMessage{
    text-align: center;
    align-content: center;
    font-size: xx-large;
    margin-top: 50px;
}

@media screen and (max-width: 990px) {
    .card-container {
        display: flex;
        justify-content: center;
    }
    .nav-link, .form-control{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}
/* ---------------------------------------------------------------- */

/* Modal */
.modal-title{
    margin: auto;
    padding-left: 20%;
}

#modalBody > .card{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
    width: 18%;
    height: 250px;
    font-size: small;
}

#modalBody > .card:last-of-type{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 22%;
    border: solid 2px blue;
}

.modal-content{
    display: flex;
    justify-content: center;
}
/* ---------------------------------------------------------------- */

/* About Page */
.aboutMe{
    display: flex;
    justify-content: center;
    align-content: center;
}

.aboutCard {
    width: 400px;
}

.aboutCard > img { 
    border-radius: 80%;
    padding: 20px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-content: center; 
    flex-direction: column;
}

.card-body > h5,h6 {
    margin: auto;
}

.aboutMeSecondHeader{
    padding-bottom: 15px;
}
.card-body > h5 {
    font-size: x-large;
    font-family: Oswald-VariableFont;
}
.card-body > h6 {
border-bottom: 1px solid lightskyblue;
font-size: large;
font-family: Oswald-VariableFont;
}

.aboutMeParagraphText{
    padding-top: 10px;
    text-align: start;
}

.contactMeHeader{
    border-top: 1px solid lightskyblue;
    padding-top: 20px;
    font-family: Oswald-VariableFont;
}

.list-group-item{
    font-family: Oswald-VariableFont;
}

.fa-circle{
    margin-right: 5px;
    display: inline-flex;
}
/* ---------------------------------------------------------------- */

/* Reports Page */
.comingSoonPage{
    display: flex;
    justify-content: center;
    align-content: center; 
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    font-family: Oswald-VariableFont;
}
/* ---------------------------------------------------------------- */




